.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: "Helvetica Neue", Arial, sans-serif;
}

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  position: relative;
  display: flex;
  align-items: center;
  background-color: #f2f2f2;
  overflow: hidden;
}

/* ниже мы привели пример двух селекторов, чтобы вы вспомнили запись элемента */
.header__square-pic {
  height: 568px;
  width: 568px;
  z-index: 1;
  background-color: #2f80ed;
  position: absolute;
  right: 0;
  top: 64px;
  background-size: contain;
}

.logo {
  width: 228px;
  height: 32px;
  object-fit: contain;
}

.logo_place_header {
  position: absolute;
  top: 30px;
  left: 64px;
}

.header__title {
  width: 730px;
  padding-left: 64px;
  font-weight: 600;
  font-size: 102px;
  line-height: 96px;
  z-index: 4;
  margin: 0;
}

.header__subtitle {
  position: absolute;
  width: 388px;
  bottom: 30px;
  left: 64px;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  z-index: 3;
  margin: 0;
}

.header__link {
  text-decoration: none;
  color: #2f80ed;
}

.header__main-illustration {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 765px;
  height: 608px;
  z-index: 2;
  object-fit: cover;
}

.description {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.two-columns {
  width: 80%;
  display: flex;
  justify-content: space-between;
  margin-top: 100px;
}

.two-columns__brief {
  width: 175px;
  margin: 0;
  font-size: 18px;
  line-height: 1.2;
  font-weight: normal;
  color: #2f80ed;
}

.two-columns__paragraph {
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  margin: 0 0 30px;
}

.two-columns__paragraph:last-of-type {
  margin-bottom: 0;
}

.two-columns__span-accent {
  line-height: 34px;
  font-size: 24px;
  font-weight: 600;
}

.two-columns__main-text {
  display: flex;
  width: 80%;
  min-width: 784px;
  flex-direction: column;
}

.digits {
  margin: 100px auto;
}

.table {
  display: flex;
  justify-content: space-between;
  width: 1100px;
  margin: 0 auto;
  flex-wrap: wrap;
}

.table__cell {
  width: 250px;
  margin-top: 60px;
}

.section-title {
  margin: 0 auto 20px;
  width: 60%;
  text-align: center;
  line-height: 1.15;
  font-size: 60px;
  font-weight: 600;
}

.section-subtitle {
  width: 60%;
  text-align: center;
  margin: auto;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}
.table__heading {
  margin: 0;
  line-height: 1.15;
  font-size: 24px;
  font-weight: 600;
}
.table__text {
  margin: 20px 0 0;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}
.feynman {
  min-height: 890px;
  display: flex;
  position: relative;
  background-color: #f2f2f2;
  align-items: center;
  flex-direction: column;
}

.feynman__link {
  text-decoration: none;
  position: absolute;
  top: 50%;
  right: 48px;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  color: #2f80ed;
}

.feynman__image {
  position: absolute;
  left: 0;
  bottom: 0;
  font-size: 0;
  height: 637px;
  width: 867px;
}
.feynman__title {
  line-height: 1.15;
  font-size: 120px;
  font-weight: 600;
  z-index: 3;
  margin: 0;
  width: 648px;
  text-align: center;
  padding-top: 100px;
}
.feynman__subtitle {
  margin: 70px 0 0;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  text-align: center;
  z-index: 2;
}

.kaufman {
  position: relative;
  overflow: hidden;
  background-color: #1f1f1f;
  padding: 90px 0;
}

.kaufman__triangle {
  position: absolute;
  right: -210px;
  top: 0;
  width: 877px;
  height: 877px;
  background-image: url(../images/kaufman-triangle.svg);
  z-index: 1;
  background-size: contain;
}

.table__text_theme_dark {
  color: #fff;
}

.table__heading_theme_dark {
  color: #fff;
}

.section-subtitle_theme_dark {
  color: #fff;
  z-index: 3;
}

.section-title_theme_dark {
  color: #fff;
  position: relative;
  z-index: 2;
}
.table_theme_dark {
  z-index: 3;
  position: relative;
}

.table__cell_theme_dark {
  margin-top: 80px;
  width: 200px;
  color: #fff;
  margin-right: 0;
}

.footer {
  background-color: #1f1f1f;
  padding: 60px 0 40px;
  min-height: 350px;
  display: flex;
  box-sizing: border-box;
}

.footer__columns {
  margin: 0 auto;
  width: 90%;
  position: relative;
  display: flex;
  justify-content: space-between;
}
.footer__column {
  display: flex;
  flex-direction: column;
}
.footer__column_content_copyright {
  flex-basis: 711px;
  justify-content: space-between;
}

.footer__column_content_info {
  color: #fff;
}
.footer__column_content_social {
  color: #fff;
}

.logo_place_footer {
  width: 228px;
  height: 32px;
}

.footer__author {
  color: #fff;
  margin: 18px 0;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
}

.footer__column-links {
  list-style-type: none;
  padding-left: 0;
  margin: 20px 0 16px;
}

.footer__column-link {
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  color: #fff;
  text-decoration: none;
}
.footer__column-heading {
  line-height: 30px;
  font-size: 18px;
  font-weight: 600;
  margin: 0;
}

.footer__social-icon {
  padding-right: 10px;
  width: 16px;
  height: 16px;
  object-fit: contain;
}
